<div ng-controller="flightsController">

    <ul class="cb-slideshow">
    <li><span>&nbsp;</span></li>
    <li><span>&nbsp;</span></li>
    <li><span>&nbsp;</span></li>
    <li><span>&nbsp;</span></li>
    <li><span>&nbsp;</span></li>
    <li><span>&nbsp;</span></li>
</ul>
    <div class="container-fluid" id="searchContainer">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <!--<div ng-if="user == undefined || user == null">-->
                <button href="" id="log-in-button" class="btn btn-info animated slideInLeft" ng-class="(user != null) ? 'slideOutLeft' : ''"
                        ng-click="openLogInModal()">{{'LOG_IN' | translate}}
                </button>
            <!--</div>-->
            <!--PANEL-->
            <div class="panel panel-default" id="airvalsSearchPanel">
                <div class="panel-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="airvals-logo-holder">
                                    <img src="/diplomarbeit/resources/images/airvals_logo_50.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row" id="flagRow">
                            <div class="col-sm-3">
                                <a ng-click="changeLanguage('en');"><img src="/diplomarbeit/resources/images/flags/uk.png"></a>
                            </div>
                            <div class="col-sm-3">
                                <a ng-click="changeLanguage('ro');"><img src="/diplomarbeit/resources/images/flags/ro.png"></a>
                            </div>
                            <div class="col-sm-3">
                                <a ng-click="changeLanguage('fr');"><img src="/diplomarbeit/resources/images/flags/fr.png"></a>
                            </div>
                            <div class="col-sm-3">
                                <a ng-click="changeLanguage('de');"><img src="/diplomarbeit/resources/images/flags/de.png"></a>
                            </div>
                        </div>

                        <!--ROW#2 SOURCE-->
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text"
                                       placeholder="{{ 'SOURCE_PLACEHOLDER' | translate }}"
                                       id="airport-source"
                                       class="typeahead"
                                       ng-model="source">
                            </div>
                        </div>

                        <!--ROW#3 DESTINATION-->
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text"
                                       placeholder="{{ 'DEST_PLACEHOLDER' | translate }}"
                                       id="airport-dest"
                                       class="typeahead"
                                       ng-model="destination">
                            </div>
                        </div>

                        <!--ROW#4 SWITCHES-->
                        <div class="row" id="switches-holder">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ 'ONE_WAY' | translate }}</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox"
                                               name="onoffswitch"
                                               class="onoffswitch-checkbox"
                                               ng-checked="false"
                                               id="oneWayOnOff"
                                               ng-model="isOneWay">
                                        <label class="onoffswitch-label" for="oneWayOnOff">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ 'DIRECT_FLIGHT' | translate }}</label>

                                    <div class="onoffswitch">
                                        <input type="checkbox"
                                               name="onoffswitch"
                                               class="onoffswitch-checkbox"
                                               id="directFlightOnOff"
                                               ng-checked="false"
                                               ng-model="isDirectFlight">
                                        <label class="onoffswitch-label"
                                               for="directFlightOnOff">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--ROW#5 DATES-->
                        <div class="row">
                            <div class="col-sm-12">
                                <!--<div class="form-group">-->
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text"
                                           placeholder="{{'START_DATE_PLACEHOLDER' | translate }}"
                                           class="input-sm form-control"
                                           name="start"
                                           ng-model="departureDate"
                                            />

                                                    <span class="input-group-addon"
                                                          ng-hide="isOneWay">
                                                        &nbsp;until&nbsp;
                                                    </span>

                                    <input type="text"
                                           placeholder="{{ 'RETURN_DATE_PLACEHOLDER' | translate }}"
                                           class="input-sm form-control"
                                           ng-model="returningDate"
                                           ng-hide="isOneWay"/>
                                </div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn"
                            ng-click="searchFlightsHandler()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--empty col to make the previous one centered-->
        <div class="col-sm-4">
            <div ng-show="user != undefined">
                <div ng-click="openPersonalInfoModal()">
                    <img class="profile_img animated slideInRight" ng-click="muie()" src="/diplomarbeit/resources/images/photo-cd.png">
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container-fluid animated slideInLeft" id="flightResultContainer" ng-show="flights.length > 0">
        <div class="row" ng-show="fastest != null" ng-repeat="recomm in recommendations ">
            <div class="col-sm-12">
                <div class="panel flight-panel">
                    <div class="panel-header">
                        {{recomm.outBoundStep1.template.source.city.name}}
                        ({{recomm.outBoundStep1.template.source.code}}) -
                        {{recomm.outBoundStep1.template.destination.city.name}}
                        ({{recomm.outBoundStep1.template.destination.code}}): &nbsp;
                        {{recomm.name}}
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-5">
                            <div ng-show="recomm.outBoundStep1 != null">
                                <h2>{{'DEPARTURE' | translate}}</h2>
                                <div>
                                    {{recomm.outBoundStep1.template.source.city.name}}
                                    ({{recomm.outBoundStep1.template.source.code}}) :
                                    {{recomm.outBoundStep1.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{recomm.outBoundStep1.template.destination.city.name}}
                                    ({{recomm.outBoundStep1.template.destination.code}}) :s
                                    {{recomm.outBoundStep1.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                                <div ng-show="recomm.outBoundStep2 != null">
                                    <hr>
                                    {{recomm.outBoundStep2.template.source.city.name}}
                                    ({{recomm.outBoundStep2.template.source.code}}) :
                                    {{recomm.outBoundStep2.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{recomm.outBoundStep2.template.destination.city.name}}
                                    ({{recomm.outBoundStep2.template.destination.code}}) :
                                    {{recomm.outBoundStep2.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div ng-show="recomm.inBoundStep1 != null">
                                <h2>{{'RETURN' | translate}}</h2>
                                <div>
                                    {{recomm.inBoundStep1.template.source.city.name}}
                                    ({{recomm.inBoundStep1.template.source.code}}) :
                                    {{recomm.inBoundStep1.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{recomm.inBoundStep1.template.destination.city.name}}
                                    ({{recomm.inBoundStep1.template.destination.code}}) :s
                                    {{recomm.inBoundStep1.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                                <div ng-show="recomm.inBoundStep2 != null">
                                    {{recomm.inBoundStep2.template.source.city.name}}
                                    ({{recomm.inBoundStep2.template.source.code}}) :
                                    {{recomm.inBoundStep2.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{recomm.inBoundStep2.template.destination.city.name}}
                                    ({{recomm.inBoundStep2.template.destination.code}}) :s
                                    {{recomm.inBoundStep2.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success" ng-click="openBuyTicketModal(recomm)">{{'BOOK_BUY_BUTTON_TEXT' | translate}}</button>
                            {{recomm.price}}
                            <button class="btn-danger btn" ng-click="showMapHandler(recomm)">show on map</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="flight in flights">
            <!--<div class="col-sm-2"></div>-->
            <div class="col-sm-12">
                <div class="panel flight-panel">
                    <div class="panel-header">
                        {{flight.outBoundStep1.template.source.city.name}}
                        ({{flight.outBoundStep1.template.source.code}}) -
                        {{flight.outBoundStep1.template.destination.city.name}}
                        ({{flight.outBoundStep1.template.destination.code}})
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-5">
                            <div ng-show="flight.outBoundStep1 != null">
                                <h2>{{'DEPARTURE' | translate}}</h2>
                                <div>
                                    {{flight.outBoundStep1.template.source.city.name}}
                                    ({{flight.outBoundStep1.template.source.code}}) :
                                    {{flight.outBoundStep1.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{flight.outBoundStep1.template.destination.city.name}}
                                    ({{flight.outBoundStep1.template.destination.code}}) :s
                                    {{flight.outBoundStep1.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                                <div ng-show="flight.outBoundStep2 != null">
                                    <hr>
                                    {{flight.outBoundStep2.template.source.city.name}}
                                    ({{flight.outBoundStep2.template.source.code}}) :
                                    {{flight.outBoundStep2.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{flight.outBoundStep2.template.destination.city.name}}
                                    ({{flight.outBoundStep2.template.destination.code}}) :
                                    {{flight.outBoundStep2.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div ng-show="flight.inBoundStep1 != null">
                                <h2>{{'RETURN' | translate}}</h2>
                                <div>
                                    {{flight.inBoundStep1.template.source.city.name}}
                                    ({{flight.inBoundStep1.template.source.code}}) :
                                    {{flight.inBoundStep1.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{flight.inBoundStep1.template.destination.city.name}}
                                    ({{flight.inBoundStep1.template.destination.code}}) :s
                                    {{flight.inBoundStep1.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                                <div ng-show="flight.inBoundStep2 != null">
                                    {{flight.inBoundStep2.template.source.city.name}}
                                    ({{flight.inBoundStep2.template.source.code}}) :
                                    {{flight.inBoundStep2.departure | date : 'MMM, dd HH:mm'}}
                                    <br>
                                    {{flight.inBoundStep2.template.destination.city.name}}
                                    ({{flight.inBoundStep2.template.destination.code}}) :s
                                    {{flight.inBoundStep2.dueArrival | date : 'MMM, dd HH:mm'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-info" ng-click="openBuyTicketModal(flight)">{{'BOOK_BUY_BUTTON_TEXT' | translate}}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="price-holder">{{flight.price}}</span>
                                        <span class="currency-holder">&euro;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-sm-2"></div>-->
        </div>
    </div>

    <div ng-controller="loginController">
        <div class="modal fade in" id="login-modal" tab-index="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p>{{'LOGIN_MODAL_HEADER_TEXT' | translate}}</p>
                    </div>
                    <div class="modal-body">
                        <input type="text"
                               class="form-control input-lg"
                               placeholder="{{'EMAIL' | translate}}"
                               ng-model="email">

                        <input type="password"
                               class="form-control input-lg"
                               placeholder="{{'PASSWORD' | translate}}"
                               ng-model="password">
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-4">
                            <button class="btn btn-primary" ng-click="submitLogin()">{{'LOG_IN' | translate}}</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-warning" ng-click="openRegisterModal()">{{'CREATE_ACCOUNT_TEXT' | translate}}</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-warning" ng-click="openAdminLogIn()">{{'ADMIN_LOG_IN_TEXT' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="registrationController">
        <div class="modal fade in" id="registration-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p>{{'REGISTRATION_MODAL_HEADER_TEXT' | translate}}</p>
                    </div>
                    <div class="modal-body">
                        <input type="text"
                               id="reg-email"
                               class="form-control input-lg"
                               placeholder="{{'EMAIL' | translate}}"
                               ng-model="email">
                        <input type="password"
                               name="password"
                               id="reg-password"
                               class="form-control input-lg"
                               placeholder="{{'PASSWORD' | translate}}"
                               ng-model="password">
                        <input type="text"
                               id="reg-first-name"
                               class="form-control input-lg"
                               placeholder="{{'REGISTRATION_MODAL_FIRST_NAME_PLACEHD' | translate}}"
                               ng-model="firstname">
                        <input type="text"
                               id="reg-last-name"
                               class="form-control input-lg"
                               placeholder="{{'REGISTRATION_MODAL_LAST_NAME_PLACEHD' | translate}}"
                               ng-model="lastname">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-block" ng-click="createAccount()">{{'REGISTRATION_MODAL_CREATE_ACCOUNT_BTN' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal animated slideInUp" id="login-admin-modal" tab-index="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>{{'ADMIN_LOGIN_MODAL_HEADER' | translate}}</p>
                </div>
                <form method="post" action="/diplomarbeit/airvals/admin/login">
                    <div class="modal-body">
                        <input type="text"
                               class="form-control input-lg"
                               placeholder="{{'EMAIL' | translate}}"
                               name="email">

                        <input type="password"
                               class="form-control input-lg"
                               placeholder="{{'PASSWORD' | translate}}"
                               name="password">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="{{'ADMIN_LOGIN_FOOTER_BTN' | translate}}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="buyTicketModal" aria-hidden="true" role="dialog" tab-index="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        {{selectedFlight.outBoundStep1.template.source.city.name}}
                        ({{selectedFlight.outBoundStep1.template.source.code}}) -
                        {{selectedFlight.outBoundStep1.template.destination.city.name}}
                        ({{selectedFlight.outBoundStep1.template.destination.code}})
                    </div>
                    <div>
                        {{selectedFlight.outBoundStep1.departure | date : 'MMM, dd HH:mm'}} -
                        {{selectedFlight.outBoundStep1.dueArrival | date : 'HH:mm'}}
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="familyName">{{'BUY_TICKET_MODAL_FAMILY_NAME' | translate}}</label>
                                    <input type="text" id="familyName">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="surname">{{'BUY_TICKET_MODAL_SURNAME' | translate}}</label>
                                    <input type="text" id="surname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="idSeries">{{'BUY_TICKET_MODAL_ID_SERIES' | translate}}</label>
                                    <input type="text" id="idSeries">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="idNumber">{{'BUY_TICKET_MODAL_ID_NUMBER' | translate}}</label>
                                    <input type="text" id="idNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="phoneno">{{'BUY_TICKET_MODAL_PHONE_NUMBER' | translate}}</label>
                                    <input type="text" id="phoneno">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="email">{{'EMAIL' | translate}}</label>
                                    <input type="text" id="email">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="buyTicket(selectedFlight, 'buy')">{{'BUY_TICKET_MODAL_CONFIRM_PAY' | translate}}</button>
                    <button class="btn btn-info" ng-click="buyTicket(selectedFlight, 'book')">{{'BUY_TICKET_MODAL_BOOK' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="ticketBoughtModal" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>{{'TICKET_BOUGHT_MODAL_CONGRATULATIONS_TITLE' | translate}}</div>
                    <div>{{'TICKET_BOUGHT_MODAL_CONGRATULATIONS_TEXT' | translate}}</div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success">{{'TICKET_BOUGHT_MODAL_BUTTON_TEXT' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="gmapsModal" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <map center="[54.9000, -15.3167]" zoom="4">
                        <!--<marker ng-repeat="marker in markers" position="{{marker.}}"></marker>-->
                        <!--<marker position="Bucharest Otopeni International" animation="Animation.BOUNCE" centered="true"></marker>-->
                        <!--<marker position="London Heathrow International"></marker>-->
                        <!--<marker position="Charles de Gaulle Airport"></marker>-->
                    </map>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="personalInfoModal" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div>
                        {{user.firstname}} {{user.lastname}}
                    </div>
                    <div>{{user.email}}</div>

                </div>
                <div class="modal-body">

                    Here are your past actions:

                    <div ng-repeat="interaction in userActions" ng-class="interaction.action == 'buy' ? 'interactionBuy' : 'interactionReserve'">
                        <div>{{interaction.action}}</div>
                        <div>{{interaction.date | date : 'MMM, dd HH:mm'}}</div>
                        <div>{{interaction.source.name}} - {{interaction.destination.name}} </div>
                    </div>


                    <!--<ul class="nav nav-tabs" role="tablist">-->
                        <!--<li class="active"><a data-target="#personalInfoTab" data-toggle="tab">Profile</a></li>-->
                        <!--<li><a data-target="#ticketHistoryTab" data-toggle="tab">Action History</a></li>-->
                    <!--</ul>-->

                    <!--<div class="tab-content">-->
                        <!--<div class="tab-pane active" id="personalInfoTab">-->

                        <!--</div>-->
                        <!--<div class="tab-pane" id="ticketHistoryTab">-->
                            <!--Let's see what you have done so far:-->
                            <!--<div>-->


                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>