
#sidebar-wrapper {
    margin-left: -230px;
    left: 230px;
    width: 230px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    background: #2c3e50;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

.top-bordered {
    border-top: 1px solid #34495e;
}

.bottom-bordered {
    border-bottom: 1px dashed #7f8c8d;
}

.profile_img {
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
}

#personalInfoHolder {
    margin-top: 40px;
    margin-bottom: 50px;
}

#imageRow {

}

#profileNameRow p {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    /*font-weight: bold;*/
}


ul {
    padding: 0px;
    /*margin-top: 300px;*/
}

ul li {
    display: block;
    padding: 10px 15px;
    list-style: none;
    position: relative;
}

ul li:nth-child(1) {
    border-left: 3px solid #e74c3c;
}
ul li:nth-child(2) {
    border-left: 3px solid #2980b9;
}
ul li:nth-child(3) {
    border-left: 3px solid #f1c40f;
}
ul li:nth-child(4) {
    border-left: 3px solid #2ecc71;
}

li > a {
    display: block;
    position: relative;
    color: #bdc3c7;
    font-size: 22px;
}

.item-active {
    background: #34495e;
}