
.modal {
    overflow-y: hidden;
}

#wrapper {
    padding-left: 230px;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

@font-face {
    font-family: lane_narrow;
    src: url(/diplomarbeit/resources/fonts/lane_narrow.ttf);
}

* {
    -webkit-font-smoothing: antialiased;
    font-family: lane_narrow;
    font-weight: inherit;
}