
.modal {
    overflow-y: hidden;
}

#wrapper {
    padding-left: 230px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -230px;
    left: 230px;
    width: 230px;
    background: #2e2e2e;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

@font-face {
    font-family: lane_narrow;
    src: url(../fonts/lane_narrow.ttf);
}

* {
    -webkit-font-smoothing: antialiased;
    font-family: lane_narrow;
    font-weight: inherit;
}